@using Web.Helpers.ExtensionMethods

@if (Html.IsTrue("show-standard-menu"))
{
    <div id="standard-menu">
        <ul>
            <li>@Html.ActionLink("HOME", "Index", "Home")</li>
            <li>@Html.ActionLink("My games", "Summary", "Game")</li>
            <li>@Html.ActionLink("Schedule new game", "Activity", "Game")</li>
            <li>@Html.ActionLink("Contacts", "External", "Manager")</li>
            <li>@Html.ActionLink("Account", "Summary", "Account")</li>
            <li><a href="http://www.tennesseesoccerclub.org" target="_blank">Club website</a></li>
        </ul>
    </div>
}
@if(Html.IsTrue("show-admin"))
{
    <div id="admin-menu">
        <span id="admin-menu-header">Manage:</span>
        <ul>
            <li>@Html.ActionLink("Users", "Index", "User")</li>
            <li>@Html.ActionLink("TSC teams", "Index", "ClubTeam")</li>
            <li>@Html.ActionLink("Clubs", "Index", "Club")</li>
            <li>@Html.ActionLink("Fields", "Index", "Field")</li>
            <li>@Html.ActionLink("Slots", "Index", "Slot")</li>
            <li>@Html.ActionLink("Scheduled Games", "AllGames", "Game")</li>
            <li>@Html.ActionLink("Canceled Games", "AllCanceledGames", "Game")</li>
            <li>@Html.ActionLink("System settings", "Index", "Setting")</li>
            <li>@Html.ActionLink("Download Games", "Index", "Export")</li>
        </ul>
    </div>
}
@if (Html.IsTrue("show-referee-menu"))
{
    <div id="referee-menu">
        <ul>
            <li>@Html.ActionLink("HOME", "Index", "Home")</li>
            <li>@Html.ActionLink("Download Games", "Index", "Export")</li>
            <li>@Html.ActionLink("Confirm Games", "Confirm", "Game")</li>
            <li>@Html.ActionLink("Contacts", "External", "Manager")</li>
            <li>@Html.ActionLink("Account", "Summary", "Account")</li>
            <li><a href="http://www.tennesseesoccerclub.org" target="_blank">Club website</a></li>
        </ul>
    </div>
}
@if (Html.IsTrue("show-reader-menu"))
{
    <div id="reader-menu">
        <ul>
            <li>@Html.ActionLink("HOME", "Index", "Home")</li>
            <li>@Html.ActionLink("Account", "Summary", "Account")</li>
            <li><a href="http://www.tennesseesoccerclub.org" target="_blank">Club website</a></li>
        </ul>
    </div>
}
    
<script type="text/javascript">
    $("#left-menu li").click(function (e) {
        var $target = $(e.target);
        if (!$target.is("li")) { return; }

        var launch = $('a', this);
        if (launch.size() > 0) {
            eval(launch[0].click());
        }
        //source: http://stackoverflow.com/questions/910850/jquery-assign-onclick-for-li-from-a-link
    });
</script>