@using Web.Helpers.ExtensionMethods
@using Web.Models
@model IEnumerable<FieldViewModel>

@{
    ViewBag.Title = "Fields";
}

<h2>Fields</h2>

<table>
    <tr>
        <th>Field</th>
        <th>Size</th>
        <th>Lighted?</th>
        <th>Ref Required?</th>
        <th>Allowed Activities</th>
        <th style="width:3em;"></th>
        <th></th>
    </tr>
    @foreach(FieldViewModel field in Model)
    {
        <tr>
            <td>@field.Description</td>
            <td>@field.SizeFormatted</td>
            <td>@Html.YesNo(field.HasLights)</td>
            <td>@Html.YesNo(field.AreRefereesRequired)</td>
            <td>@field.AllowedActivities</td>
            <td>@Html.ActionLink("Edit", "Edit", "Field", new { id = field.Id}, null)</td>
            <td>
                @if (field.CanBeDeleted)
                {
                    @Html.ActionLink("Delete", "Delete", "Field", new { id = field.Id}, null)
                }
                else
                {
                    @field.SlotRange
                }
            </td>
        </tr>
    }
</table>
@Html.Navigator("Add Field", "Create", "Field")