@using Web.Models
@model IEnumerable<FieldViewModel>

@{
    ViewBag.Title = "Fields";
}

<h2>Fields</h2>

<table>
    <tr>
        <th>Field</th>
        <th>Size</th>
        <th>Lighted?</th>
        <th>Ref Required?</th>
    </tr>
    @foreach(FieldViewModel field in Model)
    {
        <tr>
            <td>@field.Description</td>
            <td>@field.SizeFormatted</td>
            <td>@field.HasLights</td>
            <td>@field.AreRefereesRequired</td>
        </tr>
    }
</table>
@Html.ActionLink("Add Slots", "Create", "Slot")