@model Web.Models.AccountModels.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    Use the form below to change your password. 
</p>
<p>
    New passwords are required to be a minimum of @ViewBag.MinRequiredPasswordLength characters in length.  Currently, passwords are sent 
    over the Internet and saved in the system in clear text, so don't use a personal secure password.
</p>

@using (Html.BeginForm()) {

    <div class="editor-label">
        @Html.LabelFor(m => m.OldPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(m => m.OldPassword)
        @Html.ValidationMessageFor(m => m.OldPassword)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.NewPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(m => m.NewPassword)
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.ConfirmPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <p>
        <input type="submit" value="Change Password" />
    </p>
}
<script type="text/javascript">
    $("#OldPassword").focus();
</script>