@model Web.Models.TeamCreateViewModel

@{
    ViewBag.Title = "New Team";
}

<h2>New Team</h2>

@using (Html.BeginForm())
{
    <ul>
        <li>Club: @Html.DropDownListFor(m => m.ClubId, Model.ClubList, new { onchange = "GetTeams()"}) @Html.ActionLink("Add new", "Create", "Club", new {Model.ReturnTo}, null)</li>
        <li>Division: @Html.DropDownListFor(m => m.DivisionId, Model.DivisionList)</li>
        <li>Name: @Html.TextBoxFor(m => m.NewTeamName)</li>
        <li>Located (city, state): @Html.TextBoxFor(m => m.CityState)</li>
        <li>Contact name: @Html.TextBoxFor(m => m.ContactName)</li>
        <li>Contact email: @Html.TextBoxFor(m => m.ContactEmailAddress)</li>
        <li>Contact phone: @Html.TextBoxFor(m => m.ContactPhoneNumber)</li>
    </ul>
    @Html.HiddenFor(m => m.ReturnTo)
    <input type="submit" value="Create" />
}

<div>
    <span>Existing Teams:</span>
    <ul id="teams">
        @foreach (string teamName in (IEnumerable<string>)ViewBag.TeamNames)
        {
            <li>@teamName</li>
        }   
    </ul>
</div>

<script type="text/javascript">

    function GetTeams() {

        var ddlSource = $("#ClubId");
        var ulTarget = $("#teams");

        var success = function (results) {
            $(ulTarget).html("");
            var items = "";
            for (var i = 0; i < results.length; i++) {
                items += "<li>" + results[i] + "</li>";
            }
            $(ulTarget).html(items);
        };

        $.ajax({ url: '/Team/GetByClub',
            type: 'POST',
            data: { clubId: $(ddlSource).val() },
            dataType: 'json',
            success: success
        });
    }

</script>