@using Domain
@model IEnumerable<ClubTeam>

@{
    ViewBag.Title = "TSC Teams";
}

<h2>TSC Teams</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Division</th>
        <th>Level</th>
        <th style="width:3em;"></th>
    </tr>
    @foreach(ClubTeam team in Model)
    {
        <tr>
            <td>@team.Name</td>
            <td>@team.Division.Name</td>
            <td>@team.Level</td>
            <td>@Html.ActionLink("Edit", "Edit", "ClubTeam", new { id = team.Id}, null)</td>
        </tr>
    }
</table>
@Html.Navigator("Add new team", "Create", "ClubTeam")