@using Web.Models
@model System.Collections.Generic.IEnumerable<Web.Models.SlotViewModel>

@{
    ViewBag.Title = "Slots";
}

<h2>Slots</h2>

<table>
    <tr>
        <th>Location</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Allowed Activities</th>
    </tr>
    @foreach (SlotViewModel slot in Model)
    {
        <tr>
            <td>@slot.Location</td>
            <td>@slot.Date</td>
            <td>@slot.StartTime</td>
            <td>@slot.EndTime</td>
            <td>@slot.AllowedActivitiesFormatted</td>
        </tr>
    }
</table>