@using Web.Models
@model SlotListViewModel

@{
    ViewBag.Title = "Slots";
}

<h2>Slots</h2>

@using (Html.BeginForm("ForField", "Slot"))
{
    @Html.DropDownListFor(m => m.FieldId, Model.FieldList, new { onchange = "form.submit();" })
}
@Html.Navigator("Add Slots", "FieldSelect", "Slot")

<table>
    <tr>
        <th>Location</th>
        <th>Size</th>
        <th>Date</th>
        <th>Day of Week</th>
        <th>Start</th>
        <th>End</th>
        <th>Allowed Activities</th>
        <th></th>
    </tr>
    @foreach (SlotViewModel slot in Model.Slots)
    {
        <tr>
            <td>@slot.Location</td>
            <td>@slot.Size</td>
            <td>@slot.Date</td>
            <td>@slot.DayOfWeek</td>
            <td>@slot.StartTime</td>
            <td>@slot.EndTime</td>
            <td>@slot.AllowedActivitiesFormatted</td>
            <td>
                @if (slot.CanBeDeleted)
                {
                    @Html.ActionLink("Delete", "Delete", "Slot", new {slot.Id}, new {onclick = "return confirm('Are you sure?');"})
                }
                else
                {
                    @slot.GameScheduledBy
                }
            </td>
        </tr>
    }
</table>
@Html.Navigator("Add Slots", "FieldSelect", "Slot")