@using Domain
@model Web.Models.ClubCreateViewModel

@{
    ViewBag.Title = "New Club";
}

<h2>New Club</h2>

@Html.ActionLink("Cancel", "Create", "ExternalTeam", new { Model.ReturnTo}, null)

@using (Html.BeginForm())
{
    <ul class="input-list">
        <li>Name: @Html.TextBoxFor(m => m.Name)</li>
        <li>Based in (city, state): @Html.TextBoxFor(c => c.CityState)</li>
    </ul>
    @Html.HiddenFor(c => c.ReturnTo)
    <input type="submit" value="Create" />
}

<div>
    <div class="list-header">Existing Clubs:</div>
    <ul>
        @foreach (Club club in (IEnumerable<Club>)ViewBag.ExistingClubs)
        {
            <li>@club.Name</li>
        }
    </ul>
</div>