@using Web.Helpers.ExtensionMethods
@using Web.Models
@model System.Collections.Generic.IEnumerable<Web.Models.GameViewModel>

@{
    ViewBag.Title = "Confirm Games";
}

<h2>Confirm Games</h2>

<table>
    <tr>
        <th></th>
        <th>Date</th>
        <th>Field</th>
        <th>Time</th>
        <th>Playing</th>
        <th>Activity</th>
        <th>Team&nbsp;1</th>
        <th>Team&nbsp;2</th>
        <th>Age</th>
        <th>Scheduled By</th>
        <th>Ref Needed</th>
        <th>Ref Confirmed</th>
    </tr>
    @foreach (GameViewModel game in Model)
    {
        <tr>
            <td>@if(game.AreRefereesNeeded)
                {
                    if(game.AreRefereesConfirmed)
                    {
                        <span>Confirmed</span>
                    }
                    else
                    {
                         using(Html.BeginForm())
                         {
                             @Html.HttpMethodOverride(HttpVerbs.Put)
                             @Html.Hidden("Id", game.Id)
                             <input type="submit" value="Confirm" class="confirm-button" />
                         }
                    }
                }
            </td>
            <td>@game.FormattedDate</td>
            <td>@game.Field</td>
            <td>@game.FormattedTime</td>
            <td>@game.Size</td>
            <td>@game.Activity</td>
            <td>@game.Team1Name</td>
            <td>@game.Team2Name</td>
            <td>@game.Age</td>
            <td>@game.ScheduledByName</td>
            <td class="ref-image"><img src="@Url.Content(string.Format("~/Images/{0}", game.AreRefereesNeeded ? "refyes.jpg" : "refno_grey.jpg"))" alt="@(game.AreRefereesNeeded ? "ref needed" : "ref not needed")" /></td>
            <td class="ref-image">
                @if (game.AreRefereesNeeded)
                {
                    <img src="@Url.Content(string.Format("~/Images/{0}", game.AreRefereesConfirmed ? "refyes.jpg" : "refno.jpg"))" alt="@(game.AreRefereesNeeded ? "ref confirmed" : "ref not confirmed")" />
                }
            </td>
        </tr>
    }
</table>