@model Web.Models.GameScheduleModels.GameDateSelectViewModel

@{
    ViewBag.Title = "Schedule Game - Dates";
}

<h2>Schedule Game - Dates</h2>

<ul class="summary-list">
    <li>Game type: <span class="mode-indicator">@Model.Activity</span> @Html.ActionLink("Change", "Activity", "Game")</li>
    <li>Field size: <span class="mode-indicator">@Model.Size</span> @Html.ActionLink("Change", "Size", "Game", new { activity = Model.Activity }, null)</li>
</ul>

<ul class="buttons">
    @foreach (DateTime slotDate in Model.SlotDates)
    {
        <li>
            @Html.ActionLink(slotDate.ToShortDateString(), "Slot", "Game", new { activity = Model.Activity, size = Model.Size, date = slotDate.ToString("MMddyyyy")}, null)
        </li>
    }
</ul>