@model Web.Models.GameScheduleModels.SelectionViewModel

@{
    ViewBag.Title = ViewBag.GameSelectionTitle;
}

<h2>@ViewBag.GameSelectionTitle</h2>

<a href="@ViewBag.CancelUrl">Cancel</a>

@using (Html.BeginForm())
{
    <ul class="summary-list">
        <li>Game type: <span class="mode-indicator">@Model.Activity</span></li>
        <li>Field size: <span class="mode-indicator">@Model.Size</span></li>
        <li>Date: <span class="mode-indicator">@Model.DateFormatted</span></li>
        <li>Description: <span class="mode-indicator">@Model.Description</span></li>
    </ul>
    <ul class="input-list">
        <li>
            @Html.DropDownListFor(m => m.Division1Id, Model.Division1List, new { onchange = "GetTeams1()" })
            @Html.DropDownListFor(m => m.Team1Id, Model.Team1List)
            @Html.ActionLink("Add new", "Create", "ExternalTeam", new { ViewBag.ReturnTo }, null)
        </li>
        <li>
            @Html.DropDownListFor(m => m.Division2Id, Model.Division2List, new { onchange = "GetTeams2()" })
            @Html.DropDownListFor(m => m.Team2Id, Model.Team2List)
            @Html.ActionLink("Add new", "Create", "ExternalTeam", new { ViewBag.ReturnTo }, null)
        </li>
        <li>
            @if (Model.AreRefereesRequired)
            {
                <span class="refs-required">Referees are required.</span>
            }
            else
            {
                @Html.CheckBoxFor(m => m.AreRefereesNeeded) @Html.LabelFor(m => m.AreRefereesNeeded, "Are referees needed?") 
            }
        </li>
        <li>@Html.TextAreaFor(m => m.Notes, new { style = "width: 600px" })</li>
    </ul>
    @Html.HiddenFor(m => m.Activity)
    @Html.HiddenFor(m => m.Size)
    @Html.HiddenFor(m => m.Date)
    @Html.HiddenFor(m => m.SlotId)
    @Html.HiddenFor(m => m.Description)
    @Html.HiddenFor(m => m.AreRefereesRequired)
    <input type="submit" value="@ViewBag.GameSelectionButton" /> 
}