@model Web.Models.GameScheduleModels.SelectionViewModel

@{
    ViewBag.Title = ViewBag.GameSelectionTitle;
}

<h2>@ViewBag.GameSelectionTitle</h2>

<a href="@ViewBag.CancelUrl">Cancel</a>

@using(Html.BeginForm())
{
    <ul>
        <li>Game type: @Model.Activity</li>
        <li>Field size: @Model.Size</li>
        <li>Date: @Model.DateFormatted</li>
        <li>Description: @Model.Description</li>
        <li>
            @Html.DropDownListFor(m => m.Division1Id, Model.Division1List, new { onchange = "GetTeams1()" })
            @Html.DropDownListFor(m => m.Team1Id, Model.Team1List)
            @Html.ActionLink("Add new", "Create", "ExternalTeam", new { ViewBag.ReturnTo }, null)
        </li>
        <li>
            @Html.DropDownListFor(m => m.Division2Id, Model.Division2List, new { onchange = "GetTeams2()"})
            @Html.DropDownListFor(m => m.Team2Id, Model.Team2List)
            @Html.ActionLink("Add new", "Create", "ExternalTeam", new { ViewBag.ReturnTo }, null)

        </li>
        <li>@Html.TextAreaFor(m => m.Notes, new { style = "width: 600px" })</li>
    </ul>
    @Html.HiddenFor(m => m.Activity)
    @Html.HiddenFor(m => m.Size)
    @Html.HiddenFor(m => m.Date)
    @Html.HiddenFor(m => m.SlotId)
    @Html.HiddenFor(m => m.Description)
    <input type="submit" value="@ViewBag.GameSelectionButton" /> 
}