@using Web.Models.GameScheduleModels
@model GameSlotSelectViewModel

@{
    ViewBag.Title = "Schedule Game - Field/Time";
}

<h2>Schedule Game - Field/Time</h2>

<ul class="summary-list">
    <li>Game type: <span class="mode-indicator">@Model.Activity</span> @Html.ActionLink("Change", "Activity", "Game")</li>
    <li>Field size: <span class="mode-indicator">@Model.Size</span> @Html.ActionLink("Change", "Size", "Game", new { activity = Model.Activity }, null)</li>
    <li>Date: <span class="mode-indicator">@Model.DateFormatted</span> @Html.ActionLink("Change", "Date", "Game", new { activity = Model.Activity, size = Model.Size }, null)</li>
</ul>

<div>
    <div class="list-header">Available Slots:</div>
    <ul>
        @foreach (SlotSummaryViewModel slot in Model.Slots.Where(s => s.IsAvailable))
        {
            <li>
                @Html.ActionLink(slot.Description, "Select", "Game", new { activity = Model.Activity, size = Model.Size, date = Model.Date, slotId = slot.Id}, null)
            </li>
        }
    </ul>
</div>
<div>
    <div class="list-header">Scheduled Slots:</div>
    <ul>
        @foreach (SlotSummaryViewModel slot in Model.Slots.Where(s => !s.IsAvailable))
        {
            <li title="@slot.Teams">
                @slot.Description - @slot.ScheduledByName
            </li>
        }
    </ul>
</div>